@import './../../../../assets/scss/mixins';
@import './../../../../assets/scss/variables';

.user-edit {
  .ui-dialog-titlebar {
    background-color: $primary-color;
    color: $white-color;
    font-family: $font-family-base;
    font-size: 1.5rem;
    padding: 1.5rem; // Aumenta o padding para mais espaço

    @include respond-to(sm) {
      padding: 1rem;
      font-size: 1.2rem;
    }

    @include respond-to(md) {
      padding: 1.25rem;
      font-size: 1.3rem;
    }

    @include respond-to(lg) {
      padding: 1.5rem;
      font-size: 1.4rem;
    }

    @include respond-to(xl) {
      padding: 1.75rem;
      font-size: 1.5rem;
    }

    @include respond-to(xxl) {
      padding: 2rem;
      font-size: 1.6rem;
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem; // Aumenta o espaço entre os grupos de formulário
    padding: 0 1.5rem; // Aumenta o padding horizontal para alinhamento

    label {
      margin-bottom: 0.75rem; // Aumenta o espaço abaixo do label
      color: $text-color;
      font-weight: $font-weight-bold;
    }

    input {
      width: 100%; // Ajusta a largura para 100%
      padding: 0.75rem; // Aumenta o padding para inputs
      border: 1px solid $input-border;
      border-radius: 5px;
      font-family: $font-family-base;
      font-size: $font-size-base;

      &:focus {
        border-color: $input-border-focus;
        outline: none;
      }
    }
  }

  footer {
    display: flex;
    justify-content: center; // Centraliza os botões
    gap: 1.5rem; // Aumenta o espaço entre os botões
    padding: 1.5rem; // Aumenta o padding do footer
    background-color: lighten($primary-color, 40%);

    ::ng-deep .p-button.custom-button {
      background-color: $primary-color;
      color: #fff;
      border: none;
      padding: 1rem 2rem; // Aumenta o padding dos botões
      border-radius: 5px;
      cursor: pointer;
      transition: background-color $transition-speed ease, transform $transition-speed ease;

      &.ui-button {
        @include button-styles($primary-color, $white-color);
      }

      &:nth-child(2) {
        @include button-styles($primary-color, $white-color);
      }
    }
  }

  // Adiciona estilo específico para o header "Editar Usuário"
  .ui-dialog-titlebar .ui-dialog-title {
    color: $primary-color;
  }
}

@include respond-to(sm) {
  .user-edit {
    .form-group {
      input {
        font-size: $font-size-smartwatch;
      }
    }
  }
}

@include respond-to(md) {
  .user-edit {
    .form-group {
      input {
        font-size: $font-size-smartphone;
      }
    }
  }
}

@include respond-to(lg) {
  .user-edit {
    .form-group {
      input {
        font-size: $font-size-tablet;
      }
    }
  }
}

@include respond-to(xl) {
  .user-edit {
    .form-group {
      input {
        font-size: $font-size-notebook;
      }
    }
  }
}

@include respond-to(xxl) {
  .user-edit {
    .form-group {
      input {
        font-size: $font-size-desktop;
      }
    }
  }
}
