<div class="reset-password-container" role="form" aria-labelledby="reset-password-heading">
    <h2 id="reset-password-heading">Redefinir Senha</h2>
    <form (ngSubmit)="onSubmit()">
        <div>
            <label for="token">Token</label>
            <input type="text" id="token" [(ngModel)]="token" name="token" required aria-required="true" aria-label="Token">
        </div>
        <div>
            <label for="newPassword">Nova Senha</label>
            <input type="password" id="newPassword" 
                [(ngModel)]="newPassword" 
                name="newPassword" required aria-required="true" aria-label="Nova Senha">
        </div>
        <button type="submit" aria-label="Redefinir Senha">Redefinir Senha</button>
    </form>
</div>
