<div class="container">
    <div class="responsive-flex-container">
      <div class="profile-card">
        <div class="profile-title">
          Meus Pets
        </div>
        <p-divider class="p-element">
          <div role="separator" class="divider-container">
            <div class="p-divider-content"></div>
          </div>
        </p-divider>
        <div class="search-bar">
          <input type="text" pInputText placeholder="Buscar Pet" [(ngModel)]="searchTerm" (input)="searchPets()">
          <button pButton type="button" label="Novo Pet" icon="pi pi-plus" (click)="showPetFormDialog()"></button>
        </div>
        <div *ngIf="pets.length === 0">
          <p>Nenhum pet cadastrado.</p>
        </div>
        <ul *ngIf="pets.length > 0" class="pet-list">
          <li *ngFor="let pet of pets">
            <span>{{ pet.name }} - {{ pet.species }}</span>
            <button pButton icon="pi pi-pencil" (click)="editPet(pet)"></button>
            <button pButton icon="pi pi-trash" (click)="confirmDeletePet(pet)"></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <p-dialog header="Cadastro de Pet" [(visible)]="displayPetForm" [modal]="true" [responsive]="true" [style]="{width: '50vw'}">
    <app-pet-form [pet]="selectedPet" (save)="onSavePet($event)" (cancel)="onCancelPet()"></app-pet-form>
  </p-dialog>
  
  <p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle"></p-confirmDialog>