@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';

article {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: $white-color; // Fundo branco para o artigo
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); // Sombra para destacar o artigo
}

// Estilização do cabeçalho
header {
  h1 {
    font-size: 2rem; // Tamanho maior para o título
    color: $primary-color; // Usar a cor primária definida
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    color: $text-color; // Cor do texto padrão
  }
}

// Estilização das seções
section {
  margin: 20px 0; // Margem entre seções

  h2 {
    font-size: 1.5rem; // Tamanho do subtítulo
    color: $secondary-color; // Usar a cor secundária definida
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem; // Tamanho do parágrafo
    color: $text-color; // Cor do texto padrão
  }

  ul,
  ol {
    margin: 10px 0 10px 20px; // Margem para listas
    color: $text-color; // Cor do texto padrão
  }
}

// Estilização do rodapé
footer {
  h2 {
    font-size: 1.5rem; // Tamanho do subtítulo no rodapé
    color: $secondary-color; // Usar a cor secundária definida
    margin-top: 20px; // Margem superior para separar do conteúdo anterior
  }

  p {
    font-size: 1rem; // Tamanho do parágrafo
    color: $text-color; // Cor do texto padrão
  }

  address {
    margin-top: 10px; // Margem para o endereço
    a {
      @include button-styles($primary-color, $white-color); // Usar o mixin de estilos de botão
      text-decoration: none; // Remover sublinhado padrão
      &:hover {
        background-color: darken($primary-color, 10%); // Efeito de hover
      }
    }
  }
}

// Responsividade
@include respond-to(sm) {
  article {
    padding: 10px; // Menos padding em dispositivos menores
  }
}

@include respond-to(md) {
  article {
    padding: 15px; // Padding intermediário para tablets
  }
}
