<article role="article" aria-labelledby="privacy-policy-title">
    <header>
        <h1 id="privacy-policy-title">Política de Privacidade</h1>
        <p>Atualizado em: <time [attr.datetime]="lastUpdatedDate">{{ lastUpdatedDate }}</time></p>
    </header>

    <section aria-labelledby="intro-heading">
        <h2 id="intro-heading">Introdução</h2>
        <p>
            Esta Política de Privacidade descreve como coletamos, usamos e protegemos as informações que você nos fornece.
        </p>
    </section>

    <section aria-labelledby="collected-info-heading">
        <h2 id="collected-info-heading">Informações Coletadas</h2>
        <p>
            Coletamos informações quando você se registra em nosso site, faz uma compra ou interage conosco de outras maneiras.
        </p>
        <ul>
            <li>Nome</li>
            <li>Email</li>
            <li>Endereço</li>
            <li>Informações de pagamento</li>
        </ul>
    </section>

    <section aria-labelledby="usage-info-heading">
        <h2 id="usage-info-heading">Uso das Informações</h2>
        <p>
            As informações que coletamos podem ser utilizadas das seguintes maneiras:
        </p>
        <ol>
            <li>Para personalizar sua experiência.</li>
            <li>Para melhorar nosso site.</li>
            <li>Para processar transações.</li>
        </ol>
    </section>

    <section aria-labelledby="protection-info-heading">
        <h2 id="protection-info-heading">Proteção das Informações</h2>
        <p>
            Implementamos uma variedade de medidas de segurança para manter a segurança das suas informações pessoais.
        </p>
    </section>

    <footer aria-labelledby="contact-heading">
        <h2 id="contact-heading">Contato</h2>
        <p>
            Se você tiver dúvidas sobre esta Política de Privacidade, entre em contato conosco:
        </p>
        <address>
            <a routerLink="/contact" class="btn btn-primary" role="button" tabindex="0">Página de Contato</a>
        </address>
    </footer>
</article>
