@import '../../../../assets/scss/mixins';
@import '../../../../assets/scss/variables';

.contact-container {
    @include center-content;
    flex-direction: column;
    padding: 2rem;
    background-color: $white-color;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: 2rem;
        color: $primary-color;
        margin-bottom: 1rem;
    }

    form {
        width: 100%;
        max-width: 600px;

        .form-group {
            margin-bottom: 1.5rem;

            label {
                display: block;
                font-weight: $font-weight-bold;
                margin-bottom: 0.5rem;
            }

            input,
            textarea {
                width: 100%;
                padding: 0.75rem;
                border: 1px solid $input-border;
                border-radius: 5px;
                font-size: $font-size-base;
                &:focus {
                    border-color: $input-border-focus;
                    outline: none;
                }
            }

            .error-message {
                color: $error-color; // Certifique-se de que $error-color esteja definido em suas variáveis SCSS, ou substitua por uma cor específica, como #ff0000.
                font-size: 0.875rem;
                margin-top: 0.25rem;
            }
        }

        button {
            @include button-styles($primary-color, #fff);
            width: 100%;
        }
    }
}

// Responsividade
@include respond-to(sm) {
    .contact-container {
        padding: 1rem;
        h1 {
            font-size: 1.5rem;
        }
    }
}

@include respond-to(md) {
    .contact-container {
        padding: 1.5rem;
        h1 {
            font-size: 1.75rem;
        }
    }
}

@include respond-to(lg) {
    .contact-container {
        padding: 2rem;
        h1 {
            font-size: 2rem;
        }
    }
}

@include respond-to(xl) {
    .contact-container {
        padding: 2.5rem;
        h1 {
            font-size: 2.25rem;
        }
    }
}

@include respond-to(xxl) {
    .contact-container {
        padding: 3rem;
        h1 {
            font-size: 2.5rem;
        }
    }
}
