<footer>
    <div class="footer-container">
            <div class="footer-logo">
                    <a routerLink="/">PetFlow</a>
            </div>
            <div class="footer-links">
                    <a routerLink="/about">Sobre</a>
                    <a routerLink="/contact">Contato</a>
                    <a routerLink="/privacy-policy">Política de Privacidade</a>
                    <a routerLink="/terms-of-service">Termos de Serviço</a>
            </div>
            <div class="footer-social">
                    <a href="https://www.facebook.com/"><i class="pi pi-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/"><i class="pi pi-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/"><i class="pi pi-linkedin" aria-hidden="true"></i></a>
            </div>
    </div>
    <p>
            &copy; {{ currentYear }} PetFlow. Todos os direitos reservados.
    </p>
</footer>
