/** Permite a reutilização de blocos de códigos SCSS */
@import './variables';

/* Mixin para media queries */
@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) { @content; }
  }
  @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) { @content; }
  }
  @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) { @content; }
  }
  @else if $breakpoint == xl {
    @media (max-width: $breakpoint-xl) { @content; }
  }
  @else if $breakpoint == xxl {
    @media (max-width: $breakpoint-xxl) { @content; }
  }
}

/* Mixin para centralizar conteúdo */
@mixin center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mixin para botões */
@mixin button-styles($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color $transition-speed ease, transform $transition-speed ease;

  &:hover {
    background-color: darken($bg-color, 10%);
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    background-color: lighten($bg-color, 20%);
    cursor: not-allowed;
  }
}
