.profile-pictures {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;

    .profile-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    .user-profile,
    .pet-profile {
        text-align: center;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}