<div class="container">
  <div class="responsive-flex-container">
    <div class="profile-card">
      <div class="profile-title">
        {{ petForm.get('id')?.value ? 'Editar Pet' : 'Cadastro de Pet' }}
      </div>
      <p-divider class="p-element">
        <div role="separator" class="divider-container">
          <div class="p-divider-content"></div>
        </div>
      </p-divider>
      <div class="user-details-container">
        <div class="user-details-section">
          <form [formGroup]="petForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name" class="form-label">Nome</label>
              <input id="name" type="text" class="form-input" formControlName="name">
              <div *ngIf="isFieldInvalid('name')" class="error-message">Nome é obrigatório</div>
            </div>
            <div class="form-group">
              <label for="species" class="form-label">Espécie</label>
              <select id="species" class="form-input" formControlName="species">
                <option *ngFor="let species of speciesList" [value]="species">{{ species }}</option>
              </select>
              <div *ngIf="isFieldInvalid('species')" class="error-message">Espécie é obrigatória</div>
            </div>
            <div class="form-group">
              <label for="breed" class="form-label">Raça</label>
              <input id="breed" type="text" class="form-input" formControlName="breed">
            </div>
            <div class="form-group">
              <label for="birth_date" class="form-label">Data de Nascimento</label>
              <input id="birth_date" type="date" class="form-input" formControlName="birth_date">
            </div>
            <div class="form-group">
              <label for="color" class="form-label">Cor</label>
              <input id="color" type="text" class="form-input" formControlName="color">
            </div>
            <div class="form-group">
              <label for="size" class="form-label">Tamanho</label>
              <input id="size" type="text" class="form-input" formControlName="size">
            </div>
            <div class="form-group">
              <label for="gender" class="form-label">Gênero</label>
              <select id="gender" class="form-input" formControlName="gender">
                <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="castrated" class="form-label">Castrado</label>
              <input id="castrated" type="checkbox" class="form-input" formControlName="castrated">
            </div>
            <div class="form-group">
              <label for="weight" class="form-label">Peso</label>
              <input id="weight" type="number" class="form-input" formControlName="weight">
            </div>
            <div class="form-group">
              <label for="health_history" class="form-label">Histórico de Saúde</label>
              <textarea id="health_history" class="form-input" formControlName="health_history"></textarea>
            </div>
            <div>
              <button class="update-profile-button" type="submit">
                <span class="p-button-label">{{ petForm.get('id')?.value ? 'Salvar Alterações' : 'Cadastrar Pet' }}</span>
                <span class="p-ink"></span>
              </button>
              <button class="cancel-button" type="button" (click)="onCancel()">
                <span class="p-button-label">Cancelar</span>
                <span class="p-ink"></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>