<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <a routerLink="/" aria-label="Home">
                <img src="perfil_cat_01.png" alt="Logo">
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="p-menubar-end" [ngClass]="{'show': isMenuVisible}">

                <input type="text" pInputText placeholder="{{ 'SEARCH' | translate }}" aria-label="Pesquisar" />

                <button routerLink="/login" *ngIf="!isAuthenticated" pButton label="{{ 'LOGIN' | translate }}" class="p-button-text"
                    aria-label="Entrar"></button>
                <button routerLink="/register" *ngIf="!isAuthenticated" pButton label="{{ 'REGISTER' | translate }}"
                    class="p-button-outlined" aria-label="Cadastrar"></button>
                <button routerLink="/" *ngIf="isAuthenticated" pButton label="Sair" class="p-button-text"
                    aria-label="Sair"></button>
                <p-avatar *ngIf="isAuthenticated" image="#" shape="circle" aria-label="Avatar"></p-avatar>

                <!-- Botão de alternância de tema -->
                <button type="button" pButton [icon]="isDarkTheme ? 'pi pi-moon' : 'pi pi-sun'" (click)="toggleTheme()"
                    aria-label="Alterar Tema"></button>

                <button type="button" pButton (click)="toggleLanguage()" aria-label="Alternar idioma">
                    <i class="pi pi-globe"></i> {{ getLanguageLabel() }}
                </button>
                <!-- <button type="button" pButton icon="pi pi-globe" (click)="languageMenu.toggle($event)"></button> -->
            </div>
        </ng-template>
    </p-menubar>
</div>