<!-- forgot-password.component.html -->
<div class="forgot-password-container">
    <div class="forgot-password-card">
        <div class="forgot-password">
            <h2>Esqueceu a Senha?</h2>
            <span>Digite seu email para redefinir sua senha</span>
        </div>

        <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
            <div>
                <label for="email">Email</label>
                <input id="email" name="email" type="email" placeholder="Endereço de email" pInputText
                    [(ngModel)]="email" required email aria-required="true" aria-describedby="emailHelp">
                <div id="emailHelp" *ngIf="forgotPasswordForm.submitted && forgotPasswordForm.controls['email'].errors"
                    class="error-message">
                    <span *ngIf="forgotPasswordForm.controls['email'].errors['required']">Email é obrigatório.</span>
                    <span *ngIf="forgotPasswordForm.controls['email'].errors['email']">Email inválido.</span>
                </div>

                <button pButton pRipple label="Redefinir Senha" icon="pi pi-envelope" class="forgot-password-button"
                    aria-label="Redefinir Senha"></button>
            </div>
        </form>
    </div>
</div>