<header class="header">
    <h1>Perfil do Usuário</h1>
</header>
<main class="profile">
    <section class="profile-info" *ngIf="user">
        <app-profile-picture [userProfilePic]="user.profilePic"
            [petProfilePic]="user.petProfilePic"></app-profile-picture>
        <h2 class="profile-name">{{ user.name }}</h2>
        <p class="profile-bio">Bio do usuário...</p>
    </section>
    <section class="profile-details" *ngIf="user">
        <p-tabView>
            <p-tabPanel header="Detalhes do Perfil">
                <h3>Detalhes do Perfil</h3>
                <p>Email: {{ user.email }}</p>
                <p>Telefone: {{ user.phone }}</p>
                <p>Endereço: {{ user.addresses }}</p>
            </p-tabPanel>
            <p-tabPanel header="Configurações">
                <h3>Configurações do Usuário</h3>
                <p>Deve conter: alterar senha, excluir/desativar conta, adicionar/atualizar endereço e outros dados.</p>
                <app-upload (uploadComplete)="onUploadComplete($event)"></app-upload>
            </p-tabPanel>
            <p-tabPanel header="Agendamentos">
                <h3>Agenda de Serviços e Consultas Veterinárias</h3>
                <p>Deve conter uma lista de agendamentos do pet, podendo ser filtrado por pet, por serviço ou consulta,
                    por tipo de serviço/consulta</p>
            </p-tabPanel>
            <p-tabPanel header="Meus Pets">
                <h3>Listas dos Animais de Estimação</h3>
                <p>Contém uma lista de pets cadastrados do usuário: com opção para editar e excluir </p>
            </p-tabPanel>
        </p-tabView>
    </section>
</main>