.card {
  margin: 0 auto;
  padding: 1rem;
  max-width: 100%;
}

@media (max-width: 768px) {
  .card {
    padding: 0.5rem;
  }
} 

.custom-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.event-consulta {
  background-color: #2196F3;
  color: white;
}

.event-vacina {
  background-color: #FFC107;
  color: black;
}

.event-block {
  background-color: #F44336;
  color: white;
}