<main class="not-found" role="main" tabindex="0">
  <header>
    <h1>404</h1>
    <h2>Página Não Encontrada</h2>
  </header>
  <p>Desculpe, a página que você está procurando não existe.</p>
  
  <nav aria-label="Opções de navegação">
    <p>
      Você pode voltar à <a routerLink="/" aria-label="Página inicial">página inicial</a> ou explorar as opções abaixo.
    </p>
  </nav>
  
  <button (click)="goBack()" class="p-button-primary" aria-label="Voltar" tabindex="0">
    <i class="pi pi-arrow-left" aria-hidden="true"></i> Voltar
  </button>
</main>