@use 'sass:math';
@import './../../../../assets/scss/variables';

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: $spacing-unit * 4;
  background-color: $background-color-light;
  color: $text-color-light;
  font-family: $font-family-base;
  text-align: center;

  header {
    text-align: center;
    margin-bottom: $spacing-unit * 2;

    // Estilo para o código de erro "404"
    #error-code {
      font-size: 6 * $font-size-base; // Font-size padrão
      color: $primary-color;
      font-weight: bold;
      margin: $spacing-unit * 2 0;

      @include respond-to-xs {
        font-size: 3 * $font-size-base;
      }

      @include respond-to-sm {
        font-size: 4 * $font-size-base;
      }

      @include respond-to-md {
        font-size: 5 * $font-size-base;
      }
    }

    // Estilo para o título "Página Não Encontrada"
    #error-title {
      font-size: 2.5 * $font-size-base;
      font-weight: bold;
      color: $text-color-light;
      margin-bottom: $spacing-unit;

      @include respond-to-xs {
        font-size: 1.5 * $font-size-base;
      }

      @include respond-to-sm {
        font-size: 2 * $font-size-base;
      }
    }
  }

  // Estilo para a mensagem descritiva
  &__message {
    font-size: 1.25 * $font-size-base;
    margin-bottom: $spacing-unit * 3;
    color: $text-color-light;

    @include respond-to-xs {
      font-size: 1 * $font-size-base;
    }

    @include respond-to-sm {
      font-size: 1.1 * $font-size-base;
    }

    @include respond-to-md {
      font-size: 1.2 * $font-size-base;
    }
  }

  // Estilo para a seção de navegação de botões
  &__actions {
    display: flex;
    gap: $spacing-unit * 2;
    flex-wrap: wrap;

    .not-found__button {
      display: flex;
      align-items: center;
      padding: $spacing-unit * 1.5 $spacing-unit * 3;
      font-size: 1.125 * $font-size-base;
      font-weight: bold;
      border-radius: $border-radius;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-decoration: none;

      &.icon-left {
        margin-right: $spacing-unit;
      }

      &:first-child {
        background-color: transparent;
        color: $primary-color;
        border: 1px solid $primary-color;
      }

      &:last-child {
        background-color: $primary-color;
        color: $color-white;
      }

      &:hover {
        opacity: 0.9;
      }

      @include respond-to-xs {
        font-size: $font-size-base;
        padding: $spacing-unit $spacing-unit * 2;
      }

      @include respond-to-sm {
        font-size: 1.05 * $font-size-base;
        padding: $spacing-unit * 1.25 $spacing-unit * 2.5;
      }

      @include respond-to-md {
        font-size: 1.1 * $font-size-base;
        padding: $spacing-unit * 1.5 $spacing-unit * 3;
      }
    }
  }
}