@import './../../../../assets/scss/mixins';
@import './../../../../assets/scss/variables';

.petshop-main {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    .sidebar {
        width: 20%;
        background-color: $background-color;
        padding: 1rem;
        border-right: 1px solid $input-border;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: $primary-color;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 0.5rem;

                a {
                    color: $text-color;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .content {
        width: 80%;
        padding: 1rem;

        .carousel, .description, .depoimentos {
            margin-bottom: 2rem;

            .container {
                @include center-content;
                flex-direction: column;
                text-align: center;

                h2 {
                    font-size: 2rem;
                    margin-bottom: 1rem;
                    color: $primary-color;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }

                .btn {
                    @include button-styles($primary-color, $white-color);
                }
            }
        }

        .carousel {
            .container {
                .p-carousel-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .border-1 {
                        width: 80%;
                        max-width: 200px; // Adjust as needed
                        .relative {
                            position: relative;

                            .p-image {
                                width: 100%;
                                height: auto;
                                border-radius: 8px;

                                @include respond-to(sm) {
                                    max-width: 100px;
                                }

                                @include respond-to(md) {
                                    max-width: 200px;
                                }

                                @include respond-to(lg) {
                                    max-width: 250px;
                                }

                                @include respond-to(xl) {
                                    max-width: 300px;
                                }
                            }

                            .p-tag {
                                position: absolute;
                                left: 5px;
                                top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond-to(sm) {
    .petshop-main {
        flex-direction: column;

        .sidebar, .content {
            width: 100%;
        }
    }
}

@include respond-to(md) {
    .petshop-main {
        .sidebar {
            width: 30%;
        }

        .content {
            width: 70%;
        }
    }
}

@include respond-to(lg) {
    .petshop-main {
        .sidebar {
            width: 25%;
        }

        .content {
            width: 75%;
        }
    }
}

@include respond-to(xl) {
    .petshop-main {
        .sidebar {
            width: 20%;
        }

        .content {
            width: 80%;
        }
    }
}

::ng-deep .p-rating .p-rating-item {
    color: yellow !important;
}